<h1 class="display-5">Sobre comic App</h1>
<hr>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita est voluptate tenetur nam dolorem natus omnis quo
  	smagnam accusamus, repellat quas nostrum dolores harum? Fuga distinctio beatae provident similique nihil?
</p>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita est voluptate tenetur nam dolorem natus omnis quo
  	smagnam accusamus, repellat quas nostrum dolores harum? Fuga distinctio beatae provident similique nihil?
</p>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita est voluptate tenetur nam dolorem natus omnis quo
  	smagnam accusamus, repellat quas nostrum dolores harum? Fuga distinctio beatae provident similique nihil?
</p>
